# **WARNING!**

##### *We do not support* underage drinking, excessive drinking, binge drinking or any other unsafe drinking behavior.

##### We do not take any responisbility for the information provided and the actions you take! 

### This programm is ment for educational purposes and not for the exact prediction of the users alkohol level or reduction of said alkohol level.

In [ ]:
class User:
    name = input ("Enter your name:")
    print("")
    age = int(input('Please enter your age:'))
 
 
u = User()
print("")
print("Hello",u.name, "!")
print("")

if u.age<16:
    print("")
    print (u.name,"you should not drink alcohol!")
    print("")
    print("Goodbye!")
    exit()
   
else:
    print("")
    print ("You can now use the Promille Claculator, Alcohol Reduction Calculator and other educational tools")
   
age=u.age

## **Promille Calculator**

In [3]:
from ipywidgets import interact
import ipywidgets as widgets
import math

print(age)
    
def calculate1(Gender, Weight, Beer, Wine):
    alkgramm = (10*Beer*0.33*5*0.8)+(10*Wine*0.25*12*0.8)
    promille = round(alkgramm/(Gender*Weight),2)
    resultText = "You have " + str(promille) + " promille"
    return resultText
   
def calculate2(Gender, Weight, Beer, Wine,Shot):
    alkgramm = (10*Beer*0.33*5*0.8)+(10*Wine*0.25*12*0.8)+(10*Shot*0.02*40*0.8)
    promille = round(alkgramm/(Gender*Weight),2)
    resultText = "You have " + str(promille) + " promille"
    return resultText

weightcontrol = widgets.IntSlider(min=40,max=150)
beercontrol = widgets.IntSlider(min=0,max=5)
winecontrol = widgets.IntSlider(min=0,max=5)
shotcontrol = widgets.IntSlider(min=0,max=10)

if age<18:
    result = interact(calculate1, Gender=widgets.Dropdown(options=[('Male', 0.7), ('Female', 0.6)]), Weight=weightcontrol, Beer=beercontrol,Wine=winecontrol)
else:
    result = interact(calculate2, Gender=widgets.Dropdown(options=[('Male', 0.7), ('Female', 0.6)]), Weight=weightcontrol, Beer=beercontrol,Wine=winecontrol,Shot=shotcontrol)

16

interactive(children=(Dropdown(description='Gender', options=(('Male', 0.7), ('Female', 0.6)), value=0.7), Int…

# **Alcohol Reduction Calculator**

In [ ]:
print("If you want to know more about alkohol consumption enter your promille result")
alk = float(input ("Enter your promille:"))



from decimal import Decimal



count = 0
while alk >=0.02 :
    print(str(alk) + " Promille")
    alk = round((alk*0.65),2)   
    count += 1
print("You have 0 Promille")
print("This will be in {} hours".format(count))

If you want to know more about alkohol consumption enter your promille result
Enter your promille:2.5

## How do the Alcohol Blood Concentration  decrease?

In [1]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://steemitimages.com/p/3zpz8WQe4SNGWd7TzozjPgq3rggennavDx3XPY35pEAVnq1PTRFZQZj6Dv9DZfzUUhW26ub6F8RLRxPHj2KdcNqH8MpR2gwvHaWZTBqJCnHR5ZFL5mTdjxguvPjLpZf3xfk2K2fk5CXFwkQTLtC6?format=match&mode=fit&width=1280", width=500, height=500)

##### The per mille value provides information about the blood alcohol concentration (BAC), i.e. the proportion of alcohol in a certain amount of blood. If a woman and a man drink a glass of wine at a party, the woman will have a much higher blood alcohol level than the man. What is the reason for this?

##### Water accounts for about 60 percent of women's body weight, and 70 percent for men. That's because women, by nature, usually weigh less and have less muscle than men. Our muscle cells function like little water reservoirs.

##### Even if a woman drinks the same amount and weighs the same amount as a man, the lower proportion of water in her body ensures that you end up with more alcohol in your blood. The reason: the same amount of alcohol is distributed over less water. This increases the concentration.

#  Alcohol Limits in Europe

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp37-cp37m-manylinux1_x86_64.whl (9.5 MB)
     |████████████████████████████████| 9.5 MB 6.0 MB/s eta 0:00:01
Collecting pytz>=2017.2
  Downloading pytz-2020.4-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 38.5 MB/s eta 0:00:01
Collecting numpy>=1.15.4
  Downloading numpy-1.19.4-cp37-cp37m-manylinux2010_x86_64.whl (14.5 MB)
     |████████████████████████████████| 14.5 MB 28.5 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.19.4 pandas-1.1.5 pytz-2020.4

In [4]:
import pandas as pd
import numpy as  np

In [5]:
df=pd.read_csv("Grenzwert.csv")

In [7]:
df.head(20).style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#4bb8b0'), 
            ('color', 'white'),
            ('font-family', 'verdana')]},
 
 {'selector': 'td',
  'props': [('font-family', 'verdana')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', '#DCDCDC')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', 'white')]},
 
 {'selector': 'tr:hover',
  'props': [('background-color', '#4bb8c0')]}
 ]
).hide_index()

##### The fines relate to violations with passenger cars.